$border-w: 1px;

button,
.button {
	border:0;
	cursor:pointer;
}

// Base button styles
$btn-font-size: 0.75em;

.btn,
%btn {
	cursor:pointer;
	text-transform: uppercase;
	display:inline-block;
	font-family: $font-heading-medium;
	font-weight:500;
	font-size: $btn-font-size;
	text-align: center;
	@include transition(0.4s);
	border-radius: $space/6;

	margin:$space 0;
	padding:$space/1.2 $space*1.4;
}

.btn-blue,
.button {
	@extend %btn;
	background:$blue;
	color:#fff;

	&:hover {
		background:$dark;
	}
}

.btn-purple {
	@extend %btn;
	background:$purple;
	color:#fff;

	&:hover {
		background:rgba($purple, 0.15);
		color:$purple;
		text-decoration: none;
	}
}

.btn-line_round_blue {
	border:1px solid $blue;
	color:$blue;
	padding:$space/2 $space;
	text-align: center;
	display:inline-block;
	border-top-left-radius: 28px;
	border-top-right-radius: 28px;
	border-bottom-left-radius: 28px;
	border-bottom-right-radius: 28px;

	@include transition(0.3s);

	&:hover {
		background:$blue;
		color:#fff;
	}
}



