$border-w: 1px;

button,
.button {
	border:0;
	cursor:pointer;
}

// Base button styles
$btn-font-size: 0.75em;

.btn,
%btn {
	cursor:pointer;
	text-transform: uppercase;
	display:inline-block;
	font-family: $font-heading;
	font-weight:500;
	font-size: $btn-font-size;
	text-align: center;
	@include transition(0.4s);
	border-radius: $space/6;

	margin:$space 0;
	padding:$space/1.2 $space*1.4;
}

.btn-blue,
.button {
	@extend %btn;
	background:$blue;
	color:#fff;

	&:hover {
		background:$dark;
	}
}

.btn-purple {
	@extend %btn;
	background:$purple;
	color:#fff;

	&:hover {
		background:rgba($purple, 0.15);
		color:$purple;
		text-decoration: none;
	}
}

// Base outline button styles
[class*="btn-line_"] {
	border-width:$border-w;
	border-style: solid;
	background:transparent;
	padding:$space - 2px $space - 2px;

}

// Social Buttons

%btn-social {
	@include square(1.8em);
	@include transition(0.2s);
	color:#fff;
	text-align: center;
	font-size: 1em;

	.icon {
		line-height: 1.5em;
	}

	&:hover {
		@include shadow;
	}
}

.btn-social_twitter {
	@extend %btn-social;
	background:$color-twitter;
}

.btn-social_facebook {
	@extend %btn-social;
	background:$color-facebook;
}

.btn-social_gplus {
	@extend %btn-social;
	background:$color-gplus;
}

.btn-social_linkedin {
	@extend %btn-social;
	background:$color-linkedin;
}

