@font-face {
	font-family: 'blaycation';
	src:url('../library/fonts/blaycation.eot?-he0qbf');
	src:url('../library/fonts/blaycation.eot?#iefix-he0qbf') format('embedded-opentype'),
		url('../library/fonts/blaycation.ttf?-he0qbf') format('truetype'),
		url('../library/fonts/blaycation.woff?-he0qbf') format('woff'),
		url('../library/fonts/blaycation.svg?-he0qbf#blaycation') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'blaycation';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-logo-mark:before {
	content: "\e600";
}
.icon-logo:before {
	content: "\e601";
}
.icon-close:before {
	content: "\e117";
}
.icon-menu:before {
	content: "\e120";
}

// Maximize the Logo-Mark Icon due to it's funny size...
.logo .icon-logo-mark {
	font-size:6em;
	margin-top:-50%;
}