.form-group {

	> * {
		display:block;
		margin:$space*2 auto;
	}

}	

.label {
	font-family: $font-heading;
	color:#999;
}

// Input Group Stack
	.input-group-stack {
		
		input {
			width:50%;
			float:left;

			&:first-of-type {
				border-top-right-radius:0;
				border-bottom-right-radius:0;
			}

			&:last-of-type {
				border-top-left-radius:0;
				border-bottom-left-radius:0;
			}
		}
	}

// Input Group Block

	.input-group-block {
		
		input {
			width:100%;

			&:first-of-type {
				border-bottom-right-radius:0;
				border-bottom-left-radius:0;
			}

			&:last-of-type {
				border-top-left-radius:0;
				border-top-right-radius:0;
			}
		}
	}

// PLACEHOLDER STYLING

//Webkit
input::-webkit-input-placeholder {
	font-style: italic;
}

//Newer FF
input::-moz-placeholder {
	font-style: italic;
}

//Older FF
input:-moz-placeholder {	
	font-style: italic;
}

//IE
input:-ms-input-placeholder {
	font-style: italic;
}