
	// Labels
	label {
		font-family: $font-heading-light;
		font-size:0.8em;
		text-transform: uppercase;

		color:#666;
		display:block;
	}

	// Normal Text Fields
	input[type='text'], input[type='email'], textarea {
		border:1px solid $blue;
		@include transition(box-shadow 0.2s);
		display:block;
		padding:$space / 2;

		&:focus, &:active {
			outline:3px solid $blue;
			@include shadow;
		}
	}

.gform_wrapper, form {
	@include shadow;
	border:1px solid #ccc;
	overflow:auto;

	ul {
		list-style-type:none;
		padding-left:0;
	}

	.gform_title {
		text-align: center;
	}

	// the send button section
	.gfield, .gform_footer {
		padding:$space;
		width:80%;
		@include margin-h(auto);
	}

	.gform_footer {
		text-align: center;


		// the SEND button
		input[type='submit'] {
			width:100%;
			background:$dark;
			@include transition(0.3s);

			&:hover {
				background:$blue;
			}
		}
	}


	input[type='radio'] {

		opacity:0;

		+ label {
			padding-left:10px;
			color:$dark;
			text-transform: initial;
			font-size:1em;
			position: relative;
			cursor:pointer;

			&::before {
				content:" ";
				position: absolute;
	        	top: 4px;
	        	left: -16px;
	        	@include square(16px);
	        	border-radius: 50%;
	        	@include transition(0.3s);
	        	background:#fff;
	        	border:1px solid $blue;
			}
		}

		&:checked + label::before {
			background:$blue;
			border:3px solid #fff;
			@include shadow;
		}

	}

	.validation_error,
	.validation_message {
		color:red;
		font-size: 0.6em;
		text-align: center;
		font-family: $font-heading-light;
	}

	.ginput_container input[type='text'],
	.ginput_container textarea {
		width:100%;
		padding:$space / 2;
		@include margin-h(auto);
	}

}




// Input Group Stack
	.input-group_stack {
		
		input {
			width:50%;
			float:left;

			&:first-of-type {
				border-top-right-radius:0;
				border-bottom-right-radius:0;
			}

			&:last-of-type {
				border-top-left-radius:0;
				border-bottom-left-radius:0;
			}
		}
	}

// Input Group Block

	.input-group-block {
		
		input {
			width:100%;

			&:first-of-type {
				border-bottom-right-radius:0;
				border-bottom-left-radius:0;
			}

			&:last-of-type {
				border-top-left-radius:0;
				border-top-right-radius:0;
			}
		}
	}

// PLACEHOLDER STYLING

//Webkit
input::-webkit-input-placeholder {
	font-style: italic;
}

//Newer FF
input::-moz-placeholder {
	font-style: italic;
}

//Older FF
input:-moz-placeholder {	
	font-style: italic;
}

//IE
input:-ms-input-placeholder {
	font-style: italic;
}