
.bg-tr-dark {
	@include bg-tr($dark, 0.3);
}

.bg-tr-purple {
	@include bg-tr($purple, 0.3);
}

.bg-tr-light {
	@include bg-tr(#fff, 0.5);
}

.bg-purple {
	background:$purple;
	color:#fff;
}

.bg-dark {
	background:$dark;
}

.bg-white {
	background:#fff;
}

.bg-gray-light {
	background:$gray-light;
}

.bg-fixed {
	background-attachment: fixed !important;
}

.no-margin {
	margin:0 !important;
}

.no-margin-t {margin-top:0 !important;}
.no-margin-b {margin-top:0 !important;}
.no-margin-l {margin-left:0 !important;}
.no-margin-r {margin-right:0 !important;}

.fill {
	min-height:100%;
	@include square(100%);
}


