
@media (max-width: $breakpoint-mobile) {

	// //Fix the proportions of img
	* {
		font-size:97%;
	}

	.card-img {
		height:130px;
	}

	.m-v-sm {
		margin-top:4px;
		margin-bottom:4px;
	}

	.p-t-md {
		padding-top:50px;
	}

}