// Layers (Z-index)
.z-b {z-index:0;}
.z-m {z-index:3;}
.z-t {z-index:6;}


// Positioning
.absolute {position: absolute;}
.relative {position: relative;}
.fixed	  {position:fixed;}
.static	  {position: static;}
.pos-t  {top:0;}
.pos-b  {bottom:0;}
.pos-r  {right:0;}
.pos-l  {left:0;}
.pos-tl	{top:0;left:0;}

// Floats
.fl-l {float:left;}
.fl-r {float:right;}

// Displays
.d-i {display: inline;}
.d-b {display: block;}
.d-ib {display: inline-block;}

// Alignment
.center {text-align: center;}
.left {text-align: left;}
.right {text-align: right;}
.middle {margin:0 auto;}

// General Padding
.p-sm		{padding:$space;}
.p 			{padding:$space * 2;}
.p-md 		{padding:$space * 4;}
.p-lg 		{padding:$space * 6;}
.p-xl 		{padding:$space * 8;}

.p-t-sm  	{padding-top:$space;}
.p-t 	 	{padding-top:$space * 2;}
.p-t-md  	{padding-top:$space * 5;}
.p-t-lg 	{padding-top:$space * 6;}
.p-t-xl  	{padding-top:$space * 8;}

.p-b-sm  	{padding-bottom:$space;}
.p-b 	 	{padding-bottom:$space * 2;}
.p-b-md  	{padding-bottom:$space * 4;}
.p-b-lg 	{padding-bottom:$space * 6;}
.p-b-xl  	{padding-bottom:$space * 8;}

.p-h-sm 	{padding-left:$space / 2;padding-right:$space / 2;}
.p-h 		{padding-left:$space;padding-right:$space;}
.p-h-lg 	{padding-left:$space * 2;padding-right:$space * 2;}

.p-v-sm 	{padding-top:$space / 2;padding-bottom:$space / 2;}
.p-v 		{padding-top:$space;padding-bottom:$space;}
.p-v-md 	{padding-top:$space * 2;padding-bottom:$space * 2;}
.p-v-lg 	{padding-top:$space * 4;padding-bottom:$space * 4;}

// General Space
.m-sm  {margin:$space;}
.m     {margin:$space * 2;}
.m-md  {margin:$space * 4;}
.m-lg  {margin:$space * 6;}
.m-xl  {margin:$space * 8;}

.m-h-sm 	{margin-left:$space / 2;margin-right:$space / 2;}
.m-h 		{margin-left:$space;margin-right:$space;}
.m-h-lg 	{margin-left:$space * 2;margin-right:$space * 2;}

.m-v-sm 	{margin-top:$space / 2;margin-bottom:$space / 2;}
.m-v 		{margin-top:$space;margin-bottom:$space;}
.m-v-md 	{margin-top:$space * 2;margin-bottom:$space * 2;}
.m-v-lg 	{margin-top:$space * 4;margin-bottom:$space * 4;}

.m-t-sm  {margin-top:$space / 2;}
.m-t     {margin-top:$space;}
.m-t-md  {margin-top:$space * 2;}
.m-t-lg  {margin-top:$space * 4;}
.m-t-xl  {margin-top:$space * 6;}

.m-b-sm  {margin-bottom:$space / 2;}
.m-b     {margin-bottom:$space;}
.m-b-md  {margin-bottom:$space * 2;}
.m-b-lg  {margin-bottom:$space * 4;}
.m-b-xl  {margin-bottom:$space * 6;}

// Tablet Layout
@import 'layout-tablet';

// Mobile Layout
@import 'layout-mobile';