
@media (max-width: $breakpoint-tablet) {
 
 	// 4-across card layouts
	.card.w25 {
		width: 49%;
	}
	
	//card img gets smaller to adjust proportionally
	.card-img {
		height:160px;
	}

	// adjust the padding size;
	.p-t-md {
		padding-top:65px;
	}

}
