// Dropdown Menu
	
	.dd {
		position: relative;
		
		.dd-menu {
			max-height:0;

			overflow:hidden;
			position: absolute;
			top:$space + 4;
			left:-$space;
			width:$space * 10;

			z-index:4;
			background:#fff;

			@include transition(0.4s);

			a {
				text-align: left;
			}
		}

		.dd-menu_item {
			display:block;
			color:$dark;
			padding:$space/4 $space;		
		}

	}
	
	// Open Menu On Hover
	.dd:hover {
		
		.dd-menu {
			max-height:500px;
			padding-top:$space /2;
		}
	}

