// Dropdown Menu
	
	.dd {
		text-align: left;
		position: relative;
		
		.dd-menu {
			max-height:0;

			overflow:hidden;
			position: absolute;
			top:$space + 4;
			left:$space;

			z-index:4;
			background:#fff;

			@include transition(0.4s);
		}

		.dd-menu_item {
			display:block;
			color:$dark;
			padding:$space/4;		
		}

	}
	
	// Open Menu On Hover
	.dd:hover {
		
		.dd-menu {
			max-height:500px;
			padding-top:$space /2;
		}
	}

