// Main Modules and segments
hr {
	width:45%;
	margin:0 auto;
	display:block;
	margin-bottom:$space * 2;
	border: 1px $blue solid;
}

section, .section {
	width:100%;
	padding:$space 0;
	background-color: #fff;

	position:relative;
}

.panel, %panel {
	width:100%;
	height:100%;
}	

.panel-400 {
	@extend %panel;
	min-height:400px;
}

.panel-300 {
	@extend %panel;
	min-height:300px;
}	




