//------------------------------
//			SLIDER
//------------------------------

.slider {
	position: relative;
	overflow: auto;

	ul {
		padding-left:0;
		margin:0;

		li {
			float:left;
			list-style:none;
		}
	}

}   


.dots {
	position: absolute;
	bottom:0;
	right:0;
	@extend %cf;

	li.dot {
		float:left;
		@include square(5px);
		@include transition(0.3s);
		
		cursor:pointer;
		background:transparent;
		padding:5px;
		margin:10px;
		
		border:1px solid #fff;
		border-radius: 50%;

		&.active {
			background:#fff;
		}
	}
}    
