//-------------------------------------
//			TAB SYSTEM
//-------------------------------------

.tab {
	
}

// Hides the tabs when not ::checked
.tab-content {
	display:none;
	position:absolute;
	left:0;
}

.tab-toggle {
	position:absolute;
	left:-99999px;
	visibility: hidden;
}

.tab-label {
	color:#999;
	font-family: $font-heading;
}


// Makes the tabs work
.tab-toggle:checked {

	& ~ .tab-label {
		color:$dark;
	}
	
	 & ~ .tab-content {
		display:block;
		@include animate(0.4s, appear); 
 	}
}