.header {
	position: relative;
	background:#fff;
	z-index:10;

	@include shadow;
	@include transition(1s);
}

.header-cta {
	background:#fff;
	color:$purple;
	z-index:9;

	@include shadow;
	@include transition(1s);
}

