.nav-item {
	a {
		@include transition(0.4s);
		border-bottom:2px solid transparent;
		padding-bottom:$space / 4;
	}

	a:hover {
		color:$purple;
		border-bottom-color: $purple;
	}
}

.dd-menu_item:hover {
	background:$purple;
	color:#fff;
	cursor:pointer;
}

// Rotates
.state-flip {
	@include transition(0.4s);

	&:hover {
		@include rotate(180deg);
	}
}

.state-hidden {
	@include opacity(5);
}

.state-appear {
	@include animate(10s, appear);
}


