.nav-item {
	a {
		@include transition(0.4s);
		border-bottom:2px solid transparent;
		padding-bottom:$space / 4;
	}

	a:hover {
		color:$purple;
		border-bottom-color: $purple;
	}
}

.dd-menu_item:hover {
	background:$purple;
	color:#fff;
	cursor:pointer;
}


