p a,
.text a {
	color:$purple;
	text-decoration: underline;
}

.text-white, .text-white * {
	color:#fff;
}

.text-gray {
	color:#999;
}

.text-purple {
	color:$purple;
}

body {
	font-family: $font-body;
	color:$dark;
	font-size: 80%;

	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}


h1,  
h2 {
	text-transform: uppercase;
	font-family: $font-heading-light;
	text-align: center;
}

.h1 {
	font-size:3.7em;
}

.h2 {
	font-size:2.3em;
}

.h3 {
	font-size:1.8em;
}

h3 {
	font-family: $font-heading-medium;
}

.h4 {
	font-size:1.4em;
}

h4 {
	font-family: $font-heading-medium;
	
}

em, .em {
	font-style:italic;
	font-weight:400;
	font-family: $font-body
}

.text {
	font-weight:400;
	line-height:2;
	margin:$space/2 0;
	max-width:600px;
}

.text_sm {
	line-height:1.8;
	margin:$space/2 0;
	font-size:0.9em;
}

.text {
	font-size:1.1em;
}

// Smaller than Desktop
@media screen and (max-width:$breakpoint-tablet) {
	
	h1, .h1 {
		font-size:3em;
	}

	h2, .h2 {
		font-size:2.2em;
	}

	h3, .h3 {
		font-size:1.8em;
	}

	h4, .h4 {
		font-size:1em;
	}
	
	.text {
		font-size:1em;
	}

}

.heading {
	font-family:$font-heading-medium;
}

.heading-light {
	font-family:$font-heading-light;
}

// The text, body content container
.text {

	img {
		height:auto;
		width:100%;
		//max-height:650px;
		text-align: center;
		display:block;
		margin:$space*2 auto;
	}

	b, strong {
		display:inline-block; // to add margin
		margin-top:$space;
		font-family: $font-heading-medium;
		@extend .h4;
	}
}



