
// Colours
$blue:#3ebfed;
$orange:#ff8955;
$purple:#596387;
$dark:#212121;
$gray:#6d6d6d;
$gray-light:lighten(#6d6d6d, 50%);

$transparent-dark:rgba($dark, 0.7);
$transparent-light:rgba(#fff,0.7);

// Typography
$font-heading: 'Gotham', 'Verdana', sans-serif;
$font-body: 'Merriweather', 'Georgia', serif;

// Breakpoints
$breakpoint-tablet:  900px;
$breakpoint-mobile:  550px;

$space : 16px;



