$border-w: 1px;

button {
	border:0;
	cursor:pointer;
}

// Base button styles
$btn-font-size: 0.75em;

.btn {
	cursor:pointer;
	text-transform: uppercase;
	display:inline-block;
	font-family: $font-heading;
	font-weight:500;
	font-size: $btn-font-size;
	text-align: center;
	@include transition;

	margin:$space 0;
	padding:$space $space*1.4;
}

// Base outline button styles
[class*="btn-line_"] {
	border-width:$border-w;
	border-style: solid;
	background:transparent;
	padding:$space - 2px $space - 2px;

}


