// Positioning

.left {
	float:left;
}

.right {
	float:right;
}

// Main Segments

.row {
	width:100%;
	overflow:hidden;
	@extend %cf;
	margin:$space 0;
}

section {
	width:100%;
	padding:$space 0;

	position:relative;
}

.panel {
	width:100%;
	height:100%;
	
}	

// Tablet Layout
@import 'layout-tablet';

// Mobile Layout
@import 'layout-mobile';