@mixin transition {
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

@mixin transition-delay($s) {
	-webkit-transition-delay: $s;
	-o-transition-delay: $s;
	transition-delay: $s;
}

@mixin square($d) {
	height:$d;
	width:$d;
}

@mixin truncate {
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:normal;
}

@mixin list-reset {
	list-style-type:none;
	margin:0;
	padding-left:0;
}

@mixin shadow {
	box-shadow:0px 0px 10px 1px rgba(0,0,0,0.2);
}

@mixin preserve3d {
	-webkit-transform-style: preserve-3d;
  	-moz-transform-style: preserve-3d;
  	transform-style: preserve-3d;
}

@mixin v-align {
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
 	-ms-transform: translateY(-50%);
 	transform: translateY(-50%);
}

@mixin blur($px) {
	-webkit-filter:blur($px);
	filter:blur($px);
}