
// Colours
$blue:#3ebfed;
$orange:#ff8955;
$purple:#596387;
$dark:#202020;
$gray:#6d6d6d;

$transparent:rgba(30,30,30,0.85);
$transparent-light:rgba(255,255,255,0.85);

// Typography
$font-heading: 'Gotham', 'Verdana', sans-serif;
$font-body: 'Merriweather', 'Georgia', serif;